<div class="row mt-2 mx-1">
  <div class="col-md-6 col-lg-6">
    <app-metrics-table></app-metrics-table>
  </div>
  <div class="col-md-6 col-lg-6">
    <app-map></app-map>
  </div>
</div>
<div class="row mb-4 mx-1 fixed-bottom px-1">
  <div class="col-md-2 col-lg-2 text-center">
    <a class="btn btn-lg btn-primary w-90" [routerLink]="'/upload'">Upload</a>
  </div>
  <div class="col-md-2 col-lg-2 text-center">
    <a class="btn btn-lg btn-primary w-90" [routerLink]="'/view'">View</a>
  </div>
  <div class="col-md-2 col-lg-2 text-center">
    <a class="btn btn-lg btn-primary w-90" [routerLink]="'/notify'">Notify</a>
  </div>
  <div class="col-md-2 col-lg-2 text-center">
    <a class="btn btn-lg btn-primary w-90" [routerLink]="'/analytics'">Analytics</a>
  </div>
</div>
