<div class="container">
    <div class="card uploadCard">

        <ul class="nav nav-tabs bg-light">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#file">Upload File</a>
            </li>

        </ul>
        <div class="tab-content">
            <div class="container tab-pane active" id="file">

                <div *ngIf="showUpload">

                    <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop
                        (onFileDropped)="uploadFile($event)">
                        <input hidden type="file" id="inputFile" #fileInput (change)="uploadFile($event.target.files)">
                    </div>
                </div>


                <div *ngIf="!showUpload">
                    <div class="files-list" *ngFor="let file of files1;let i=index">
                        <a href='#'>
                            <p>{{ file }}</p>
                        </a>
                        <p class="text-success">File Uploaded Successfully</p>
                        <button class="delete-file" (click)="deleteAttachment(i)">
                            <img src="../../assets/Recycle_Bin_Full.png">
                        </button>
                    </div>

                    <form>
                        <div class="form-group" [formGroup]="uploadForm">
                            <label for="title">Title</label>
                            <input [(ngModel)]="title" name="title" type="text" class="form-control" id="title" placeholder="Enter Title"
                                formControlName="title">
                            <p *ngIf="uploadForm.controls.title.errors && uploadForm.controls.title.dirty"
                                class="text-danger">This field is required!</p>
                        </div>
                        <!-- <div class="form-group">
                          <label for="genre">Language</label>

                          <ng-multiselect-dropdown name="lang" [placeholder]="'select language'" [data]="lang"
                              [(ngModel)]="selectedLanguage" [settings]="dropdownSettings"
                              (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
                          </ng-multiselect-dropdown>
                          <p *ngIf="uploadForm.controls.lang.errors && uploadForm.controls.lang.dirty"
                              class="text-danger">This field is required!</p>
                      </div> -->
                        <div class="form-group">
                            <label for="genre">Genre</label>

                            <ng-multiselect-dropdown name="genre" [placeholder]="'select genre'" [data]="genre"
                                [(ngModel)]="selectedItems" [settings]="dropdownSettings"
                                (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
                            </ng-multiselect-dropdown>
                            <p *ngIf="uploadForm.controls.genre.errors && uploadForm.controls.genre.dirty"
                                class="text-danger">This field is required!</p>
                        </div>

                        <div class="form-group">
                          <label for="type">Language</label>

                           <input   name="lang" [(ngModel)]="selectedLanguage" type = radio value="hindi" id="type">Hindi
                           <input  name="lang" [(ngModel)]="selectedLanguage" type = radio value="english" id="type">English
                           <p *ngIf="uploadForm.controls.type.errors && uploadForm.controls.type.dirty"
                           class="text-danger">This field is required!</p>
                      </div>
                        <div class="form-group" [formGroup]="uploadForm">
                            <label for="description">Description</label>
                            <textarea rows="4" class="form-control" id="description" placeholder="Enter description"
                                formControlName="description"></textarea>
                            <p *ngIf="uploadForm.controls.description.errors && uploadForm.controls.description.dirty"
                                class="text-danger">This field is required!</p>
                        </div>



                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary"  data-dismiss="modal"
                                (click)="upload()">upload</button>

                        </div>


                    </form>

                </div>


            </div>


        </div>

    </div>

</div>
